body {
  font-family: "Montserrat", sans-serif;
  background-color: #e5e5e5;
  padding: 40px;
}

a:hover {
  text-decoration: underline;
}

.wrapper {
  display: flex;
  flex-direction: row-reverse;
  background: #ffffff;
  width: 1200px;
  margin: 0 auto;
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
}

/*Main content  */

.main-content {
  padding: 88px;
}

.main-content-title {
  font-style: normal;
  font-weight: 400;
  font-size: 22px;
  line-height: 27px;
  color: #000000;
  margin: 0 0 8px 0;
}

/* For me */

.my-profession {
  padding-bottom: 18px;
  font-style: normal;
  font-weight: 400;
  font-size: 14px;
  line-height: 17px;
  color: #000000;
  margin: 0 0 18px 0;
}

.my-name {
  font-style: normal;
  font-weight: 400;
  font-size: 45px;
  line-height: 55px;
  color: #000000;
  margin: 0 0 28px 0;
}

.my-descr {
  font-style: normal;
  font-weight: 700;
  font-size: 14px;
  line-height: 24px;
  color: #595959;
  width: 525px;
}

.about-me-container {
  margin-bottom: 64px;
}

/* Project */
.project-item {
  font-style: normal;
  font-weight: 400;
  font-size: 14px;
  line-height: 24px;
  color: #000000;
}

.project-list {
  padding: 0 0 0 16px;
  margin: 0;
}
.project-container {
  margin-bottom: 48px;
}

.project-item-descr {
  font-style: normal;
  font-weight: 700;
  font-size: 14px;
  line-height: 24px;
}

.project-item-link {
  font-style: normal;
  font-weight: 700;
  font-size: 14px;
  line-height: 24px;
  text-decoration-line: underline;
  color: #190e33;
}

/* Work experince */
.work-experince-container {
  margin-bottom: 44px;
}

.work-experince-position {
  font-style: normal;
  font-weight: 400;
  font-size: 22px;
  line-height: 27px;
  color: #000000;
  margin: 0;
}

.work-experince-item {
  margin-bottom: 16px;
}

.work-experince-company {
  color: #df55aa;
}

.work-period {
  font-style: normal;
  font-weight: 700;
  font-size: 12px;
  line-height: 15px;
  color: #a8a8a8;
  margin: 12px 0 8px 0;
}

.work-duties {
  font-family: "Montserrat";
  font-style: normal;
  font-weight: 700;
  font-size: 14px;
  line-height: 24px;
  color: #595959;
}

.work-duties-list {
  padding: 14px;
  margin: 0;
}

.education-title {
  font-style: normal;
  font-weight: 400;
  font-size: 22px;
  line-height: 27px;
  color: #000000;
}

.management-style {
  font-style: normal;
  font-weight: 400;
  font-size: 14px;
  line-height: 17px;
  color: #000000;
}

.education-position {
  margin: 0px;
}

h2 {
  font-size: 25px;
}

/* Sidebar */
.sidebar {
  width: 370px;
  background: #e0ebfe;
}

.my-photo {
  margin-top: 40px;
}

.soft-skills,
.contacts-container,
.tech-skills-container {
  margin: 48px 0 0 40px;
}

.sidebar-title {
  font-style: normal;
  font-weight: 700;
  font-size: 22px;
  line-height: 27px;
  color: #161d2a;
  margin-bottom: 8px;
}

/* Contacts */
.contacts-type {
  font-style: normal;
  font-weight: 700;
  font-size: 14px;
  line-height: 24px;
  color: #161d2a;
  margin-right: 8px;
}

.contacts-item {
  margin: 0;
}

.contacts-numer {
  font-style: normal;
  font-weight: 700;
  font-size: 14px;
  line-height: 24px;
  color: #161d2a;
}

.contacts-email {
  font-style: normal;
  font-weight: 700;
  font-size: 14px;
  line-height: 24px;
  color: #2979ff;
}

.skills-list {
  margin: 0;
  padding: 0 0 0 12px;
}

.skills-list-item {
  color: #6d9bf5;
}

.skills-list-text {
  font-style: normal;
  font-weight: 400;
  font-size: 14px;
  line-height: 24px;
  color: #161d2a;
}

.soft-skills-text {
  font-style: normal;
  font-weight: 400;
  font-size: 14px;
  line-height: 24px;
  color: #161d2a;

  padding: 0;
  margin: 0;
}
